/* .card-counter{
    box-shadow: 4px 4px 20px #DADADA;
    margin: 10px;
    padding: 20px 10px;
    background-color: #fff;
    height: 200px;
    border-radius: 10px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }

  .card-counter .count-title{
    position: absolute;
    top: 5px;
  }
*/
.card {
  box-shadow: 4px 4px 20px #DADADA;
  margin: 5px;
  /* padding: 20px 10px; */
  /* background-color: #fff; */
  border-radius: 10px;
  transition: .3s linear all;
}

.card:hover {
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-status-icon {
  font-size: 4em;
  opacity: 0.2;
  margin-bottom: 5px;
}

.card-info{

}

#total-tube{
  font-size: 100px;
}
#success-tube{
  font-size: 100px;
}
