tab {
  padding-left: 5em;
}

body {
    height: 100%;
        margin: 0;
        background: #2193b0;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-repeat: no-repeat;
        background-attachment: fixed;

}

.app-bar-container {
    background-color: #DCD9D4;
     background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
     background-blend-mode: soft-light,screen;
    }

.bottom-nav{
  height: 100px;
}

.tile-large {
    height: 250px;
    width: 600px;
    /* max-width: 100%; */
    display: block;
    margin-left: 100px;
}

.tile-app .branding-bar, .tile-large .branding-bar, .tile-medium .branding-bar, .tile-small .branding-bar, .tile-wide .branding-bar {
  font-size: 200%;
  bottom: 5%;
}

.feed-list .item, .feed-list>li, .items-list .item, .items-list>li{
  height: 60px;
}

.feed-list .item .second-action, .feed-list>li .second-action, .items-list .item .second-action, .items-list>li .second-action {
  right: 150px;
}

.derivred-label {
  font-size: 1000%;
  margin-top: -2%;
  /* margin-left: 10%; */
}

.hr-tile{
  /* position: absolute; */
  margin-top: 300px;
  border: 5px solid red;
  border-radius: :10px;
}
